@model WebsiteCreatorMVC.Models.MoneyViewModel


@using (Html.BeginForm("EditMoney", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit your account details.</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
                        @Html.TextBoxFor(m => m.AsMoneyAccount, new { @class = "form-control", @placeholder = "Your AsMoney Account" })
                        @Html.ValidationMessageFor(m => m.AsMoneyAccount)
                        <span class="input-icon"><i class=" icon-user"></i></span>
        </div>

        <div class="form-group">
                        @Html.TextBoxFor(m => m.BitcoinAddress, new { @class = "form-control", @placeholder = "Your Bitcoin Address" })
                        @Html.ValidationMessageFor(m => m.BitcoinAddress)
                        <span class="input-icon"><i class=" icon-user"></i></span>
        </div>

        <div class="form-group">
                        @Html.TextBoxFor(m => m.LitecoinAddress, new { @class = "form-control", @placeholder = "Your Litecoin Address" })
                        @Html.ValidationMessageFor(m => m.LitecoinAddress)
                        <span class="input-icon"><i class=" icon-user"></i></span>
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.PerfectMoney, new { @class = "form-control", @placeholder = "Your PerfectMoney account" })
            @Html.ValidationMessageFor(m => m.PerfectMoney)
            <span class="input-icon"><i class=" icon-user"></i></span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="button_fullwidth" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
